<header>
  <h1>New Review for <%= link_to @movie.title, @movie %></h1>
</header>

<%= form_for([@movie, @review]) do |f| %>
<%= render 'shared/errors', object: @review %>
  <p>
      <%= f.label :name %>
      <%= f.text_field :name, size: 40, autofocus: true %>
  </p>
  <p>
    <%= f.label :stars %>
    <%= f.select :stars, Review::STARS, prompt: "Select one" %>
  </p>
  <p>
    <%= f.label :comment %><br  />
    <%= f.text_area :comment, cols: 80, rows: 7, placeholder: "What did you think?" %>
  </p>
  <p>
    <%= f.submit %>
    <%= link_to "Cancel", @movie %>
  </p>
<% end %>
